<div *ngIf="loginForm">
  <h1>Login</h1>
  <form nz-form [formGroup]="loginForm">
    <nz-form-item>
      <nz-form-control>
        <label for="email">Email</label>
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="email" nz-input />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label for="email">Password</label>
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="password" nz-input type="password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <label
        nz-checkbox
        [(ngModel)]="rememberMe"
        [ngModelOptions]="{ standalone: true }"
        >Remember me</label
      >
    </nz-form-item>

    <p *ngIf="loginError" class="error">Email or password is incorect!</p>
    <button (click)="handleLogin()" class="success">LOGIN</button>
  </form>
  <button (click)="handleRegister()" class="register">REGISTER</button>
</div>
