<div *ngIf="userForm">
  <h1>Login</h1>
  <form nz-form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="email" nz-input placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <p
      *ngIf="
        userForm.controls['email'].touched &&
        userForm.controls['email'].hasError('required')
      "
      class="error-message"
    >
      This field is required
    </p>

    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="password" nz-input placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <p
      *ngIf="
        userForm.controls['password'].touched &&
        userForm.controls['password'].hasError('invalidSymbols')
      "
      class="error-message"
    >
      Only letters are allowed
    </p>
    <p
      *ngIf="
        userForm.controls['password'].touched &&
        userForm.controls['password'].hasError('required')
      "
      class="error-message"
    >
      This field is required
    </p>
    <button class="success">LOGIN</button>
  </form>
  <button class="register">REGISTER</button>
</div>
