<div id="auth-page">
    <h1>AUTH PAGE</h1>
  
    <p>
      Am i logged in? <b>{{ userToken ? "yes" : "no" }}</b>
    </p>
  
    <button class="button success" (click)="onSuccessRequest()">
      Success Login
    </button>
    <button class="button error" (click)="onErrorRequest()">Error Login</button>
    <div class="remember-container">
      <button class="button remember" (click)="onRememberMeRequest()">
        Remember Me Login
      </button>
      <div class="remember-me">
        <input id="remember-me" type="checkbox" [(ngModel)]="rememberMe" />
        <label for="remember-me">Remember me</label>
      </div>
    </div>
  </div>

  <button nz-button nzType="primary" (click)="handleAddUser()">
    Register
  </button>

  <div class="main-container">
    <nz-table #basicTable [nzData]="users">
      <thead>
        <tr>
          <th nzWidth="20%">Email</th>
          <th nzWidth="20%">username</th>
          <th nzWidth="15%">Pass</th>
        </tr>
      </thead>
      <tbody *ngIf="basicTable.data">
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.email }}</td>
          <td>{{ data.username }}</td>
          <td>{{ data.password }}</td>
        </tr>
      </tbody>
    </nz-table>
  